* {
	margin: 0;
    padding: 0;
}

.header {
	display: flex;
	max-width: 100vw;
	align-items: center;
	padding-bottom: 30px;
    flex-direction: column;
	border-bottom: 2px solid #f4f4f4;
}

.searched-content {
	display: flex;
	flex-wrap: wrap;
	margin: 8px 0px;
	max-width: 100vw;
	justify-content: center;
}

.content-wrapper:not(:last-child) {
	margin-right: 5px;
}

.content {
	opacity: 0.8;
	margin-top: 2px;
	max-width: 150px;
	overflow: hidden;
	padding: 5px 10px;
	border-radius: 4px;
    background: #f3f3f3;
	white-space: nowrap;
	box-sizing: border-box;  
  	text-overflow: ellipsis; 
}

.content:hover {
	opacity: 1;
}

.search-wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	align-items: center;
	justify-content: center;
}

#input, #submit__button, #trending__button {
    height: 30px;
}

#submit__button, #trending__button {
	color: white;
	padding: 0px 10px;
	border-radius: 4px;
	box-sizing: border-box;
}

#submit__button {
	background-color: green;
}

#submit__button:hover {
	border: 4px solid pink;
}

#trending__button {
	margin-left: 5px;
	border-radius: 4px;
	background-color: red;
}

#trending__button:hover {
	border: 4px solid pink;
}

.gifs {
	display: flex;
	flex-wrap: wrap;
	margin: 0px 10%;
	padding-top: 20px;
}

.gif {
	margin: 10px;
	display: flex;
	max-width: 100%;
	align-items: center;
	flex-direction: column;
	border: 1px solid black;
}

.gif-image {
    height: 200px;
    max-width: 100%;
}

.gif-rating {
	font-weight: bold;
}

@media (max-width: 600px) {
	.search-wrapper {
    	flex-direction: column; 
    }

    #filter-form {
    	display: flex;
    	margin-bottom: 5px;
    	align-items: center;
    	flex-direction: column;
    }

    #submit__button {
    	margin-top: 5px;
    }

    #trending__button {
    	margin-left: 0px;
    }

    .gifs {
    	align-items: center;
        justify-content: center;
    }
}
